<div class="categories-container row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<button ui-sref="main.listings" type="button" class="btn btn-primary btn-lg btn-block">All</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<button ui-sref="main.listings({category:'books'})" type="button" class="btn btn-primary btn-lg btn-block">Books</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<button ui-sref="main.listings({category:'electronics'})" type="button" class="btn btn-primary btn-lg btn-block">Electronics</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<button ui-sref="main.listings({category:'other'})" type="button" class="btn btn-primary btn-lg btn-block">Other</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button ui-sref="main.account" type="button" class="btn btn-primary btn-lg btn-block">Account</button>
	</div>
</div>