<div class="container-fluid" id="wrapper">
	<div class="row" id="header1">
		<div class="text-center text-nowrap"><H1>GT Thrift Shop</H1></div>
	</div>
	<div class="row" id="header">
		<div class="col-xs-12">
			<input type="search" class="form-control" placeholder="Search">
		</div>
	</div>
	
    <div ui-view></div>
	
	<div class="btn-group btn-group-justified tab-bar">
		<div class="btn-group">
			<a href="#/categories" class="btn btn-default" role="button">Categories</a>
		</div>
		<div class="btn-group">
			<a href="#/favorites" class="btn btn-default" role="button">Favorites</a>
		</div>
		<div class="btn-group">
			<a href="#/messages" class="btn btn-default" role="button">Messages</a>
		</div>
	</div>
</div>