<div class="splash">
   	<div class="container">
		<form class="form-signup" role="form">
			<div>
				<h1 class="col-12-xs">GT Thrift Shop</h1>
			</div>
			<div>
				<h4>Sign in</h4>
			</div>
			<div>
				<input ng-model="email" type="email" class="form-control square-bottom" placeholder="Email" required autofocus>
			</div>
			<div>
				<input ng-model="password" type="password" class="form-control square-top" placeholder="Password" required>
			</div>
			<div class="form-submit">
				<button ng-click="signUp()" type="button" class="col-xs-6 btn btn-lg btn-primary square-right">Sign Up</button>
				<button ng-click="signIn()" type="button" class="col-xs-6 btn btn-lg btn-primary square-left">Sign in</button>
			</div>
			<a>
				<button ng-click="forgotPassword()" type="button" class="col-xs-12 btn btn-lg btn-link">Forgot password?</button>
			</a>
			<div class="footer">
				Copyright &copy; 2014 Team TBD
			</div>
		</form>			
	</div>
</div>