<div class="splash">
   	<div class="container">
		<form class="form-signup" role="form">
			<div>
				<h1 class="col-12-xs shadow-title">Campus Exchange</h1>
			</div>

			<div class="input-group margin-bottom-sm">
				<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
				<input ng-model="email" class="form-control" type="text" placeholder="Email address" required autofocus>
			</div>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input  ng-model="password" class="form-control" type="password" placeholder="Password" required>
			</div>
			<div class="form-submit">
				<button ng-click="signIn()" type="button" class="col-xs-12 btn btn-lg btn-primary">Sign in</button>
			</div>

			<h5>New to Campus Exchange? Sign up</h5>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<input ng-model="name" class="form-control" type="text" placeholder="Full Name">
			</div>

			<div class="form-submit">
				<button ng-click="signUp()" type="button" class="btn btn-lg btn-primary">Sign Up for Campus Exchange</button>
			</div>
			<a>
				<button ng-click="forgotPassword()" type="button" class="col-xs-12 btn btn-lg btn-link">Forgot password?</button>
			</a>
			<div class="footer">
				Copyright &copy; 2014 Team TBD
			</div>
		</form>			
	</div>
</div>