/********************************************************************

********************************************************************/

body {
	font-family: Verdana, Geneva, sans-serif;
}

/********************************************************************

********************************************************************/

.square-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.square-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.square-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.square-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/********************************************************************

********************************************************************/

.splash {
    background-color: grey;
    background-position: center; 
	position: absolute;
	height: 100%;
	width: 100%;
	color: white;
}

.form-signup {
	max-width: 340px;
	padding: 15px;
	margin: 10vh auto;
	color: black;
	background-color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.form-signup h1, .form-signup h4 {
	text-align: center;
}

.form-submit {
	padding-top: 10px;
}

/********************************************************************
 Main
********************************************************************/

.back-button {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 44px; 
	height: 44px;
    margin: 10px;
    fill: white;
}

.title {
	position: absolute;
	top: 0;
	left: 64px;
	right: 128px;
	margin: 12px 0;
	text-align: center;
    font-weight: bold;
	font-size: 30px;
	color: white;
}

.title:hover {
	text-decoration: none;
}

.post-button {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 64px;
    width: 44px;
	height: 44px;
    margin: 10px;
    fill: white;
}

.search-button {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
    width: 44px; 
	height: 44px;
    margin: 10px;
    fill: white;
}

/********************************************************************

********************************************************************/


.footer {
	color: grey;
	text-align: center;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #000000;
    color: white;
    font-weight: bold;
	height: 64px;
    border-bottom: 5px solid grey;
}

.app-content {
	padding-top: 64px;
}

.btn-primary {
    margin: 2px;
    width: 100%;
    border-radius: 0;
    background-color: #000000;
    color: white;
    border: 1px solid white;
}

.categories-container {
	margin: 15px 0px;
}

.toolbar {
	
}

#wrapper {
	min-height:100%;
	position:relative;
}


#header1 {
	padding:2px;
	padding-top: 12px;
	padding-bottom: 2px;
	background:#f1cc21;
}

#content {
	padding:0px;
	padding-bottom:2px; /* Height of the footer element */
}

#footer {
	height:1px;
	position:absolute;
	bottom:0;
	left:0;
}