body {
	font-family: Verdana, Geneva, sans-serif;
}

.splash {
	background: url("/img/splash.jpg");
    background-position: center; 
	position: absolute;
	height: 100%;
	width: 100%;
	color: white;
}

.form-signup {
	max-width: 330px;
	padding: 15px;
	margin: 10vh auto;
	color: black;
	background-color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.form-signup h1, .form-signup h4 {
	text-align: center;
}

.form-submit {
	padding-top: 10px;
}

.square-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.square-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.square-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.square-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.footer {
	color: grey;
	text-align: center;
}

.tab-bar {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
}

html,
body {
margin:0;
padding:0;
height:100%;
}
#wrapper {
min-height:100%;
position:relative;
}
#header {
padding:2px;
background:#f1cc21;
padding-top: 0px;
}
#header1 {
padding:2px;
padding-top: 12px;
padding-bottom: 2px;
background:#f1cc21;
}
#content {
padding:0px;
padding-bottom:2px; /* Height of the footer element */
}
#footer {
height:1px;
position:absolute;
bottom:0;
left:0;
}